@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* New Color Palette */
  --rosy-granite: #84828f;
  --dim-grey: #6a687a;
  --blue-slate: #536271;
  --charcoal-blue: #3e4c5e;
  --deep-space-blue: #2c3d55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-rosy-granite: var(--rosy-granite);
  --color-dim-grey: var(--dim-grey);
  --color-blue-slate: var(--blue-slate);
  --color-charcoal-blue: var(--charcoal-blue);
  --color-deep-space-blue: var(--deep-space-blue);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
